
.colClas:hover {  
  //  width: 425px;  
  //  border: 0px solid #ddd;  
  //  overflow: hidden;  
  //  text-align: left;  
 //   text-overflow: ellipsis;  
 //   white-space: nowrap;  
    color:#696969;  
  //  text-decoration:underline;  
    cursor:pointer;   
}  


.colClas {   
    width:'90%';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}